@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog | Management</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/css/all.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/css/adminlte.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="../../index3.html" class="brand-link">
                <span class="brand-text font-weight-light">Manager</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="@User.Claims.Where(c => c.Type == "ImagePath").Select(c => c.Value).FirstOrDefault()" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@User.Identity.Name</a>
                    </div>
                </div>
                <li class="nav-item">
                    <form class="form-inline" asp-action="Logout" asp-controller="User" onclick="return confirm('Are you sure you want to Log Out ? ')">
                        <button type="submit" class="nav-link btn btn-link text-white">
                            <i class="fas fa-sign-out-alt"></i>
                            <p>Log Out</p>
                        </button>
                    </form>
                </li>
                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->

                    @if (@User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).FirstOrDefault() == "Admin")
                    {

        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header"></li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="ManagerPostHome" class="nav-link">
                    <i class="fas fa-home nav-icon"></i>
                    <p>
                        Manage Post Home
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="" asp-controller="Category" asp-action="Index" class="nav-link">
                    <i class="fas fa-list nav-icon"></i>
                    <p>
                        Category
                    </p>
                </a>
            </li>
            <li class="nav-item">

                <a asp-area="" asp-controller="User" asp-action="ManagerUser" class="nav-link">

                    <i class="fas fa-user-plus nav-icon"></i>

                    <p>
                        Manager User
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon far fa-envelope"></i>
                    <p>
                        Manager Post
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-controller="Post" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-pen-alt"></i>
                            <p>Post</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Tag" asp-action="Index" class="nav-link">
                            <i class="fas fa-cogs nav-icon"></i>
                            <p>Tag</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="PostComment" asp-action="Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Manage Comments</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-home"></i>
                    <p>
                        <i class="fas fa-angle-left right"></i>
                        Back to Home
                    </p>
                </a>

            </li>
        </ul> }
                    else if (@User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).FirstOrDefault() == "Blogger")
                    {
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon far fa-envelope"></i>
                    <p>
                        Manager Post
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-controller="Post" asp-action="ShowPostByIdBlogger" class="nav-link">
                            <i class="nav-icon fas fa-pen-alt"></i>
                            <p>Post</p>
                        </a>
                    </li>


                </ul>
            </li>

            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-home"></i>
                    <p>
                        <i class="fas fa-angle-left right"></i>
                        Back to Home
                    </p>
                </a>

            </li>
        </ul> }

                    else
                    {
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header"></li>

            <li class="nav-item">
                <a asp-area="" asp-controller="User" asp-action="Edit" class="nav-link">
                    <i class="fas fa-user-plus nav-icon"></i>
                    <p>
                        Manager User
                    </p>
                </a>
            </li>


            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-home"></i>
                    <p>
                        <i class="fas fa-angle-left right"></i>
                        Back to Home
                    </p>
                </a>

            </li>
        </ul>}




                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>@ViewData["Title"]</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#"></a></li>
                                <li class="breadcrumb-item active"></li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row m-20">

                        @RenderBody()
                    </div><!-- /.row-fluid -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.2.0
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#">BlogManagement</a>.</strong> By Fresher
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/js/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <!-- Page specific script -->
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>

