@model IEnumerable<BlogManagement.Models.CategoryVM>

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<br />
<div class="col-md-12">
    <p>
        <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus" aria-hidden="true"></i> Create New</a>
    </p>

    <br />
    <table id="tblData" class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Slug)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Slug)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">
                            <i class="fas fa-pen" aria-hidden="true"></i>
                        </a>
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this record? ')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>