@model BlogManagement.Models.UserVM

@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<div class="col-md-3">

    <!-- Profile Image -->
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">
            <div class="text-center">
                <img id="output" class="profile-user-img img-fluid img-circle"
                     src="@Model.ImagePath"
                     alt="User profile picture">
            </div>

            <h3 class="profile-username text-center">@Model.Firstname</h3>

            <p class="text-muted text-center">@Model.Profile</p>

            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>Followers</b> <a class="float-right">1,322</a>
                </li>
                <li class="list-group-item">
                    <b>Following</b> <a class="float-right">543</a>
                </li>
                <li class="list-group-item">
                    <b>Friends</b> <a class="float-right">13,287</a>
                </li>
            </ul>

            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- About Me Box -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">About Me</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Education</strong>

            <p class="text-muted">
                Computer Science from the University
            </p>

            <hr>

            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

            <p class="text-muted">HCM, VietName</p>

            <hr>

            <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

            <p class="text-muted">
                <span class="tag tag-danger">C#</span>
                <span class="tag tag-success">Coding</span>
                <span class="tag tag-info">Javascript</span>
                <span class="tag tag-warning">PHP</span>
                <span class="tag tag-primary">Node.js</span>
            </p>

            <hr>

            <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->

<div class="col-md-9">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="PasswordHash" />
        <input type="hidden" asp-for="ImagePath" />
        <div class="card-body">
            @if (@Model.Mobile == "google" || @Model.Mobile == "facebook")
            {
                <div class="form-group">
                    <label asp-for="Firstname">First Name</label>
                    <input asp-for="Firstname" class="form-control" placeholder="Enter Firstname" readonly>
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Middlename">Middle Name</label>
                    <input asp-for="Middlename" class="form-control" placeholder="Enter Middlename" readonly>
                    <span asp-validation-for="Middlename" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lastname">Last Name</label>
                    <input asp-for="Lastname" class="form-control" placeholder="Enter Lastname" readonly>
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mobile">Contact</label>
                    <input asp-for="Mobile" class="form-control" placeholder="Enter Mobile" readonly>
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" placeholder="Enter Email" readonly>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Profile">Profile</label>
                    <input asp-for="Profile" class="form-control" placeholder="Enter Profile" readonly>
                    <span asp-validation-for="Profile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Role">Role</label>
                    <input asp-for="Role" class="form-control" placeholder="Enter Role" readonly>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>

            }
            else
            {
                <div class="form-group">
                    <label asp-for="Firstname">First Name</label>
                    <input asp-for="Firstname" class="form-control" placeholder="Enter Firstname">
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Middlename">Middle Name</label>
                    <input asp-for="Middlename" class="form-control" placeholder="Enter Middlename">
                    <span asp-validation-for="Middlename" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lastname">Last Name</label>
                    <input asp-for="Lastname" class="form-control" placeholder="Enter Lastname">
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mobile">Contact</label>
                    <input asp-for="Mobile" class="form-control" placeholder="Enter Mobile">
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" placeholder="Enter Email" readonly>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Profile">Profile</label>
                    <input asp-for="Profile" class="form-control" placeholder="Enter Profile">
                    <span asp-validation-for="Profile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Role">Role</label>
                    <input asp-for="Role" class="form-control" placeholder="Enter Role" readonly>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" asp-for="File" type="file" accept="image/*" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" multiple>
                        <label class="custom-file-label" for="inputGroupFile04">Select File</label>
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Save Profile</button>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }

        </div>
        <!-- /.card-body -->

    </form>
</div>
<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-dark"><i class="fas fa-chevron-left" aria-hidden="true"></i>Back to List</a>
</div>
