@model IEnumerable<BlogManagement.Models.ShowUser>

@{
    ViewData["Title"] = "Manager User";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}


<div class="col-md-12">
    <br />
    <table id="tblData" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegisteredAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegisteredAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">
                            <i class="fas fa-pen" aria-hidden="true"></i>
                        </a>
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this record? ')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>